In [9]:
import ast
import pandas as pd

In [10]:
rows=[]
with open('./Dataset/steam_games.json') as f:
    for  line in f.readlines():
        rows.append(ast.literal_eval(line))
df=pd.DataFrame(rows)

### Vemos los datos

In [11]:
df.head()

,publisher,genres,app_name,title,url,release_date,tags,discount_price,reviews_url,specs,price,early_access,id,developer,sentiment,metascore
0,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",4.49,http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro,NaN,NaN
1,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",NaN,http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL,Mostly Positive,NaN
2,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",NaN,http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,670290,Poolians.com,Mostly Positive,NaN
3,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",0.83,http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,False,767400,彼岸领域,NaN,NaN
4,NaN,NaN,Log Challenge,NaN,http://store.steampowered.com/app/773570/Log_C...,NaN,"[Action, Indie, Casual, Sports]",1.79,http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,False,773570,NaN,NaN,NaN

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   publisher       24083 non-null  object
 1   genres          28852 non-null  object
 2   app_name        32133 non-null  object
 3   title           30085 non-null  object
 4   url             32135 non-null  object
 5   release_date    30068 non-null  object
 6   tags            31972 non-null  object
 7   discount_price  225 non-null    float64
 8   reviews_url     32133 non-null  object
 9   specs           31465 non-null  object
 10  price           30758 non-null  object
 11  early_access    32135 non-null  bool
 12  id              32133 non-null  object
 13  developer       28836 non-null  object
 14  sentiment       24953 non-null  object
 15  metascore       2677 non-null   object
dtypes: bool(1), float64(1), object(14)
memory usage: 3.7+ MB

#### 1 Valores faltantes
Imputaremos valores: <br>
- si son numericos imputamos con el valor 0 <br>
- si son otro tipo de datos con 'SinDato'

####  Realizo todas las transformaciones necesarias a la columna release_date

In [13]:
print('cantidad de nulos: ',df['release_date'].isnull().sum())
print('tipo de dato: ',df['release_date'].dtype)
df['release_date'].iloc[0]

cantidad de nulos:  2067
tipo de dato:  object

'2018-01-04'

- primero se convierte a datetime con errors=coerce los valores que no se pueden interpretar a Nan y con dopna los eliminamos con dropna se podria remmplazar pero no lo haremos

In [14]:
df['release_date'] = pd.to_datetime(df['release_date'], format='%Y-%m-%d', errors='coerce')
df = df.dropna(subset = ['release_date']) #eliminare los nulos ya que despues no puedo iterar ademas como se vio son pocos datos comparado con el total

In [15]:
print('cantidad de nulos: ',df['release_date'].isnull().sum())
print('tipo de dato: ',df['release_date'].dtype)
df['release_date'].iloc[0]

cantidad de nulos:  0
tipo de dato:  datetime64[ns]

Timestamp('2018-01-04 00:00:00')

In [16]:
df['release_year']=df['release_date'].dt.year # guardo el tipo de dato ya que al volverlo a leer no me reconoce el dt.year

#### Realizo todas las transformaciones necesarias a la columna metascore

In [17]:
print('cantidad de nulos: ',df['metascore'].isnull().sum())
print('tipo de dato: ',df['metascore'].dtype)
df['metascore'].iloc[0]

cantidad de nulos:  27168
tipo de dato:  object

nan

In [18]:
df['metascore'] = pd.to_numeric(df['metascore'], errors='coerce')
df['metascore'] = df['metascore'].fillna(0) # Nulos imputo valor 0

df['metascore'] = df['metascore'].astype(int) # Convierto a tipo entero

In [19]:
print('cantidad de nulos: ',df['metascore'].isnull().sum())
print('tipo de dato: ',df['metascore'].dtype)
df['metascore'].iloc[0]

cantidad de nulos:  0
tipo de dato:  int32

0

#### Realizo todas las transformaciones necesarias a la columna sentiment

In [20]:
print('cantidad de nulos: ',df['sentiment'].isnull().sum())
print('tipo de dato: ',df['sentiment'].dtype)
df['sentiment'].iloc[0]

cantidad de nulos:  6667
tipo de dato:  object

nan

In [21]:
df['sentiment'] = df['sentiment'].fillna('SinDato') # Nulos imputo valor 0
df['sentiment'] = df['sentiment'].astype(str) # Convierto a tipo string

In [22]:
print('cantidad de nulos: ',df['sentiment'].isnull().sum())
print('tipo de dato: ',df['sentiment'].dtype)
df['sentiment'].iloc[0]

cantidad de nulos:  0
tipo de dato:  object

'SinDato'

#### Realizo todas las transformaciones necesarias a la columna genres

In [23]:
print('cantidad de nulos: ',df['genres'].isnull().sum())
print('tipo de dato: ',df['genres'].dtype)
df['genres'].iloc[0]

cantidad de nulos:  1234
tipo de dato:  object

['Action', 'Casual', 'Indie', 'Simulation', 'Strategy']

In [24]:
df = df.dropna(subset = ['genres'])

In [25]:
print('cantidad de nulos: ',df['genres'].isnull().sum())
print('tipo de dato: ',df['genres'].dtype)
df['genres'].iloc[0]

cantidad de nulos:  0
tipo de dato:  object

['Action', 'Casual', 'Indie', 'Simulation', 'Strategy']

In [26]:
#Exportamos el dataframe limpio
df.to_csv('Dataset/ds_clean.csv', index=False)

In [27]:
df1 = pd.read_csv("Dataset/ds_clean.csv")

In [28]:
df1.genres.iloc[0] # se me guarda como una cadena el arrray

"['Action', 'Casual', 'Indie', 'Simulation', 'Strategy']"

In [29]:
import numpy as np
df1['genres'] = df1['genres'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else np.nan)

In [30]:
df1.genres.iloc[0] # se lee con ast literalmente como una lista

['Action', 'Casual', 'Indie', 'Simulation', 'Strategy']